
.katalog {
  margin-top: 50px;
  margin-bottom: 70px;
}

.faq {
  margin-top: 100px;
  margin-bottom: 70px;
}

#faqtitle {
  margin-left: 150px;
}

#dropdown {
  margin-right: 150px;
}


#form {
  margin-top: 80px;
  font-family: Be Vietnam Pro;
  color: black;
}
